/*CSS for nettsiden*/

body {
	margin: 0;
	font-family: verdana;
	font-size: 12px;
}

#mainDiv {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #FFF;
	overflow: hidden;
}


/*logo*/
#logoDiv {
	position: absolute;
	left: 3%;
	top: 3%;
	height: 13%;
}
#logoDiv img {
	height: 100%;
}

/*login*/
#leftAside {
	padding: 1%;
	left: 3%;
	top: 17%;
	position: absolute;
	width: 13%;
	height: 27%;
	background-color: #78557d;
	color: #FFF;
	font-weight: bold;
	overflow: hidden;
}

#leftAside a {
	color: #FFF;
	text-align: left;
	text-decoration: none;
	font-size: 12px;
}

#leftAside p {
	font-size: 12px;
}

.fill {
	width: 98%;
}

/*bottom left*/
#leftAside2 {
	padding: 1%;
	left: 3%;
	top: 51%;
	position: absolute;
	width: 13%;
	height: 27%;
	background-color: #face66;
	overflow: hidden;
}

#leftAside2 img{
	width: 100%;
	height: 100%;
}
/*artikkelene som skal være på alle sidene*/
#leftArticle {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #78557d;
}

#leftArticle p, h1{
	color: #FFF;
}

#leftArticle img {
	width: 100%;
	height: 100%;
}

/*center div som inneholder article tags*/
#centerDiv{
	top: 17%;
	left: 20%;
	position: relative;
	width: 77%;
	height: 65%;

}
/*footer*/
footer {
	position: absolute;
	width: 94%;
	height: 3%;
	bottom: 8%;
	background-color:#bdbdbd ;
	left: 3%;
	overflow: hidden;
}

footer p {
	text-align: center;
	margin: 3.5px 0;
	color: #FFF;
	font-size: 10px;
}


/*responsive design */

/* HER ER KODE FOR STÅENDE FORMAT MOBIL OPP TIL 400PX*/
@media screen and (max-width: 400px) {
/*phone*/
.fill {
	width: 70%;
}
body {
	font-size: 1.5em;
}


#logoDiv {
	display: none;
}

#leftAside {
	width:100%;
	height: 100%;
}


#leftAside2 {
	display:none;
}

#centerDiv {
	display: none;
}

footer {
	display: none;
}


}
/* HER ER KODE FOR LIGGENDE FORMAT MOBIL OPP TIL 700PX*/
@media screen and (max-width: 700px) {
/*phone liggende*/

.fill {
	width: 70%;
}

body {
	font-size: 1.5em;
}


#logoDiv {
	display: none;
}

#leftAside {
	width:100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
}

#leftAside2 {
	display: none;
}

#centerDiv {
	display: none;
}

footer {
	display: none;
}


}
/*Ipad*/
@media screen and (min-width: 700px) and (max-width: 1350px) {
.fill {
	width: 90%;


#leftAside {
	line-height: 0.8;
}

#logoDiv {
	position: absolute;
	left: 3%;
	top: 5%;
	height: 10%;
}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1) {
	
	.fill {
		width: 50%;
	}

	#centerDiv {
		display:none;
	}

	#leftAside {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	#leftAside p {
		font-size: 24px;
	}

	#leftAside2 {
		display: none;
	}

	#logoDiv {
		display: none;
	}

	footer {
		display: none;
	}
}


