body {
    font-family: verdana;
    background-color: #63b1c9;
    color: #FFF;
}

a {
    font-family: verdana;
    color: #FFF;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #f06e67;
}

h1 {
    color: #000;
}


.forsideLink {
    position: absolute;
    right: 0%;
    top: -5%;
    width: 30%;
    height: 25%;
    font-size: 12px;
}

.forsideLink img {
    width: 100%;'
}

.roomBlock
{
    display: block;
    margin-bottom: 6px;
    padding: 6px;
}

.roomblock:nth-child(odd) {
    background-color: #59a2b8;
}
.timeBlock
{
    border: 1px solid transparent;
    display: inline-block;
    padding: 6px;
    text-decoration: none;
    color: #000;
    width: 54px;
    text-align: center;
}
.timeBlock:hover
{
    border: 1px solid #000;
}
.infoBlock
{
    padding: 4px;
    font-size: 18px;
}

.button
{
    width: 54px;
    padding: 6px;
    display: inline;
}
.button:hover
{
    background-color: #000;
    color: #fff;
}
.timeBlock, .button
{
    cursor:pointer;
}
.deactivated
{
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}