/*CSS for bestillingssiden*/

body {
    font-family: verdana;
    background-color: #78557d;
    color: #FFF;
    font-size: 14px;
}

header {
}

header img {
    position: relative;
    float: right;
    width: 25%;

}

a {
    font-family: verdana;
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #000;
}

.roomBlock
{
    display: block;
    margin-bottom: 6px;
    padding: 6px;
    border-top: 2px solid #fff;
}

.timeBlock
{
    border: 1px solid transparent;
    display: inline-block;
    padding: 6px;
    text-decoration: none;
    color: #000;
    width: 54px;
    text-align: center;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}
.timeBlock:hover
{
    border: 1px solid #000;
}
.infoBlock
{
    padding: 4px;
    font-size: 14px;
}

.button
{
    width: 54px;
    padding: 6px;
    display: inline;
}
.button:hover
{
    background-color: #000;
    color: #fff;
}
.timeBlock, .button
{
    cursor:pointer;
}
.deactivated
{
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

#registerDiv {
    position: absolute;
    margin: auto;
}

.selected
{
    width: 200px;
    cursor: default;
}
.timeChild
{
    display: none;
}
.timeChildSelected
{
    display: block;
}